* {
    box-sizing:border-box;
}

html {
    font-family: 'Young Serif', 'Poppins', sans-serif;
    background-color: #ece0d1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
  }

nav {
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    color: white;
    background-color: #dbc1ac;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem #333 solid;
}

nav a {
    text-decoration: none;
    color:black;
}

nav .menu-options {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: flex-end; 
    padding-right: 2rem;
}

.menu-options ul {
    list-style: none;
    display: flex;
}

.menu-options ul li {
    margin: 0 1rem;
}

.menu-options ul li a {
    text-decoration: none;
    color: black;
}

.menu-options ul li a:hover {
    color: #333;
}

.logo {
    padding-left:2rem;
}

header h1 {
    display: inline-block;
    position: relative;
    left: 840px;
    text-align: center;
}

main {
    flex: 1;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

section, .text {
    padding: 1em;
}

img {
    height: 2em;
    position: relative;
    top: 5px;
    align-items: left;
}

.options {
    background-color: #dbc1ac;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
}

.result-buttons {
    font-family: 'Young Serif', 'Poppins', sans-serif;
    background-color: #dbc1ac;
    cursor: pointer;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
    border: 1px solid #00000000;
    margin: 10px;
    width: 100px;
}

button {
    font-family: 'Young Serif', 'Poppins', sans-serif;
    background-color: #d1ae94;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
}

button:hover, .alternatives button:hover {
    background-color: #b1937c;
}

.alternatives div {
    text-align: center;
    padding: 0.5rem;
}

.alternatives button {
    font-family: 'Young Serif', 'Poppins', sans-serif;
    background-color: #dbc1ac;
    cursor: pointer;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
    border: 1px solid #00000000;
    width: 300px;
}

.results {
    display: flex;
    justify-content: space-evenly;
}

.img-results {
    height: 4em;
    position: relative;
    left: 40px;
}