* {
    box-sizing:border-box;
}

html {
    font-family: 'Young Serif', 'Poppins', sans-serif;
<<<<<<< HEAD
    background-color: #FFFCF9;
=======
    background-color: #F5F5F5;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
>>>>>>> fb24358124c4a4d152633dde60240e77a167ef22
}

nav {
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    background-color: #c9a27d;
    display: flex;
    align-items: center;
    padding: .5rem;
    padding-bottom: 1rem;
}

.nav-color {
    background-color: #c9a27d;
}

.custom-bg {
    background-color: #F5F5F5;
}


main img {
    width: 100%;
    /* text-shadow: 10px 10px #153c43; */
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 3rem;
    /* max-width: 960px;  */
}

.card-bg {
    background-color: #FEECDB;
}


/* 
header #ribbon {
   height: 14rem;
   width: 100%;
   background-image: url(../img/education_ribbon.jpeg);
} */

.questionnaireheading {
    text-align: center;
    flex-grow: 1;
    font-size: 1.75em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
    /* max-width: 960px;  */
}

.container img{
    /* margin-left: auto; */
    margin-right: auto;
    padding: 0;
    border-radius: 30px;
    width: 200px;
}

.menu-options ul {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: flex-end; 
    padding-right: 2rem;
    border-radius: 30px;
    width: 200px;
}

<<<<<<< HEAD
=======
nav img {
    width: 200px;
}

/* .menu-options ul {
    list-style: none;
    display: flex;
}

>>>>>>> fb24358124c4a4d152633dde60240e77a167ef22
.menu-options ul li {
    margin: 0 1rem;
}

.menu-options ul li a {
    text-decoration: none;
    color: black;
}

.menu-options ul li a:hover {
    color: #333;
}

<<<<<<< HEAD
#welcome {
    padding: 3%;
    text-align: center;
    font-size: 2em;
=======
.logo {
    padding-left:2rem;
} */

.custom-border {
    border: 2px solid #684320;
    border-radius: 12px;
}


.abt-img{
    padding: rem;
    border-radius: 30px;
    width: 200px;
}


.teams-img{
    padding: rem;
    border-radius: 100px;
    border: 5px solid #684320;
    width: 200px;
    height: auto;
>>>>>>> fb24358124c4a4d152633dde60240e77a167ef22
}


/* #about-us.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} */


#our-team.container div {
    width: 10%;
    text-align: center;
    margin: 2rem;
    padding: 0;
    /* flex-basis: 50%; */
    flex-grow: 1;
    flex-wrap: wrap;
}

#our-team.container img{
    border-radius: 100px;
    border: 5px solid #684320;
    width: 200px;
}

#more-coffee.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

#more-coffee-container div {
    margin: 2rem;
    padding: 0;
    flex-grow: 1;
    flex-wrap: wrap;
}

#more-coffee img {
    border-radius: 30px;
    width: 200px;
}

footer {
    color:white;
    background-color: #c9a27d;
    /* position:fixed; */
    width: 100%
}

footer .container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}


footer p {
    margin: 0 2rem;
    border: none;
    line-height: 1.5;
    text-decoration: none;
    color: black;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: #333;
}


/* Added styling for coffee education */

#about-coffee.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#about-coffee img {
    border-radius: 30px;
    width: 800px;
}

#about-coffee.container div {
    width: 40%;
    margin: 2rem;
    padding: 0;
    flex-grow: 1;
    flex-wrap: wrap;
}

#about-coffee.container div h2{
    text-align: left;
}

#roast.container {
    /* align-items: ;  */
    justify-content: space-between;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#roast.container div {
    width: 10%;
    text-align: center;
    margin: 2rem;
    padding: 0;
    /* flex-basis: 50%; */
    flex-grow: 1;
    flex-wrap: wrap;
}

#roast.container img{
    border-radius: 100px;
    border: 5px solid #684320;
    width: 200px;
}

/* Below is styling for quesitonnaire pages*/

body.questionnairebody {
    font-family: 'Young Serif', 'Poppins', sans-serif;
    background-color: #FFFCF9;
    color: #341102;
  }

/* placeholder till container class gets changed */
.containment {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
}

/* placeholder till container class gets changed */
.containment img{
    margin-right: auto;
    padding: 0;
    border-radius: 30px;
    width: 200px;
}

.questionnaire .questioncontainer {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
}

#questionnaireheading {
    display: none;
    display: inline-block;
    width: 100%;
    position: fixed;
    top: 0;
    right:0;
    background-color: #c9a27d;
    text-align: center;
    padding: 1.5rem;
}

.questionnaire img {
    height: 2em;
    margin-right: .5rem;
}

.questionnaire .text {
    font-weight: bold;
    font-style: italic;
    margin-left: 0.5rem;
}

.questionnaire .intro {
    margin: 0 0.5rem;
    color: black;
}

.questionnaire .options {
    font-style: italic;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-left: 0.25rem;
}

.questionnaire label img {
    position: relative;
    top: 5px;
    left: 2.5px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
  }
  
.questionnaire .button-text {
    position: absolute;
    bottom: 2.5px;
    width: 100%;
    left: 0%;
}
  
.questionnaire .square-button {
    float: left;
    position: relative;
    height: 140px;
    background-color: #E8CAAF;
}
  
.questionnaire .btn-group {
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
    border: 1px  #00000000;
    border-radius: 20px;
    background-color: #C9A27D;
}
  
.questionnaire div .btn {
    border-radius: 20px;
    border: 1px  #00000000;
}

.questionnaire a {
    text-decoration: none;
}
  
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #E8CAAF;
    color: #341102;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
    margin-top: 2rem;
}
  
.submit:hover {
    background-color: #C9A27D;
}