* {
    box-sizing:border-box;
    font-family: 'Young Serif', 'Poppins', sans-serif;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    background-color: #c9a27d;
    display: flex;
    align-items: center;
    padding: .5rem;
    padding-bottom: 1rem;
}

.nav-color {
    background-color: #c9a27d;
}

.custom-bg {
    background-color: #FFFCF9;
}

.ribbon {
    background-image: url('../public/img/education_ribbon.jpeg'); /* Replace with your image path */
    padding-top: 10rem;
    background-size: cover; /* This will cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed;
}

main img {
    width: 100%;
    /* text-shadow: 10px 10px #153c43; */
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 3rem;
}

.card-bg {
    background-color: #FEECDB;
}

.questionnaireheading {
    text-align: right;
    flex-grow: 1;
    font-size: 1.75em;
    color: #341102;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
}

.menu-options ul {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: flex-end; 
    padding-right: 2rem;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    flex-grow: 1;
}

nav img {
    width: 200px;
}

.custom-border {
    border: 2px solid #684320;
    border-radius: 12px;
}


.abt-img{
    padding: rem;
    border-radius: 30px;
    width: 200px;
    height: auto;
}


.teams-img{
    padding: rem;
    border-radius: 100px;
    border: 5px solid #684320;
    width: 200px;
    height: auto;
}

#our-team.container div {
    width: 10%;
    text-align: center;
    margin: 2rem;
    padding: 0;
    flex-grow: 1;
    flex-wrap: wrap;
}

#our-team.container img{
    border-radius: 100px;
    border: 5px solid #684320;
    width: 200px;
}

#more-coffee.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

#more-coffee-container div {
    margin: 2rem;
    padding: 0;
    flex-grow: 1;
    flex-wrap: wrap;
}

#more-coffee img {
    border-radius: 30px;
    width: 200px;
}

footer {
    color:white;
    background-color: #c9a27d;
    width: 100%
}

footer .container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}


footer p {
    margin: 0 2rem;
    border: none;
    line-height: 1.5;
    text-decoration: none;
    color: black;
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: #333;
}


/* Added styling for coffee education */

.coffee-img{
    padding: rem;
    width: 100px;
}


.education .square-button {
    float: center;
    position: relative;
    height: 30px;
    width: 80px;
    background-color: #E8CAAF;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
    border-radius: 20px;
    border: 1px  #00000000;
    padding: .85rem 4rem;
    margin-bottom: 2em;
}

.choice-container .row {
    max-width: 70%;
}
.education .options {
    font-style: italic;
    font-size: 14px;
}
  
.education .button-text {
    position: absolute;
    bottom: 2px;
    width: 100%;
    left: 0%;
}

/* Library/filter page */

.drink-img{
    padding: rem;
    border-radius: 30px;
    width: 200px;
    height: auto;
}

.library .square-button {
    float: center;
    position: relative;
    height: 30px;
    width: 80px;
    background-color: #E8CAAF;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
    border-radius: 20px;
    border: 1px  #00000000;
    padding: .85rem 5rem;
    margin-bottom: 2em;
}

.library .options {
    font-style: italic;
    font-size: 14px;
}
  
.library .button-text {
    position: absolute;
    bottom: 4px;
    width: 100%;
    left: 0%;
}

#roast-title p {
    font-size: 1.5em;
}



/* Below is styling for quesitonnaire pages*/

body {
    font-family: 'Young Serif', 'Poppins', sans-serif;
    height: 100%;
    background-color: #FFFCF9;
    background-size: cover;
    color: #341102;
    margin: 0;
    padding: 0;
  }

  /* body.homebody {
    font-family: 'Young Serif', 'Poppins', sans-serif;
    height: 100%;
    background-color: #FFFCF9;
    background-size: cover;
    color: #341102;
    margin: 0;
    padding: 0;
  } */

#questionnaireheading {
    text-align: center;
    margin: 0;
    margin-top: 2em;
}

.questionnaire .headerlogo {
    height: 2.5em;
    width: auto;
    margin-top: .5em;
}

/* .questionnaire .menu {
    position: fixed;
    bottom: 0;
    height: 3.72em;
    width: auto;
} */

.questionnaire .text {
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-left: 0.5rem;
}

.questionnaire .options {
    font-style: italic;
    font-size: 14px;
}

.questionnaire .btn img {
    display: none;
  }
  
.questionnaire .button-text {
    position: absolute;
    bottom: 4px;
    width: 100%;
    left: 0%;
}

.questionnaire .square-button {
    float: left;
    position: relative;
    height: 30px;
    width: 120px;
    background-color: #E8CAAF;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
    border-radius: 20px;
    border: 1px  #00000000;
    padding: .85rem;
    margin: 0 .6rem;
    margin-bottom: 2em;
}

.questionnaireredirect {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    padding: 1em;
    border-radius: 20px;
    background-color: #E8CAAF;
    color: #341102;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
    margin: 1rem;
}
  
.questionnaireredirect:hover {
    background-color: #C9A27D;
}

.questionnaire .img-results {
    height: 4em;
    position: relative;
    left: 25px;
    width: auto;
}

.questionnaire .result-buttons {
    font-family: 'Young Serif', 'Poppins', sans-serif;
    font-style: italic;
    pointer-events: none;
    background-color: #FEECDB;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
    border: 3px solid #684320;
    margin: 10px;
    width: 100px;
}

.questionnairebody .preference-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-text {
    margin: 0;
}

.headerlogo {
width: 50px;
height: auto;
}
  
  

@media (min-width: 786px) {
    .questionnaire .btn img {
        display: block;
        position: relative;
        right: 6.5px;
        bottom: 6px;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
      }

    .questionnaire .square-button {
        height: 75px;
        width: 63.75px;
    }

    .questionnaire .button-text {
        font-size: 10px;
        bottom: 1px;
    }
}

@media (min-width: 1200px) {
    .questionnaire .btn img {
        display: block;
        position: relative;
        right: 0;
        bottom: 0;
        height: 100px;
        width: 100px;
        border-radius: 10px;
        box-shadow: 0 1px 3px #00000029, 0 1px 3px #0000003b;
      }

    .questionnaire .square-button {
        height: 150px;
        width: 127.5px;
    }

    .questionnaire .button-text {
        bottom: 6px;
        font-size: 16px;
    }
}